{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}




{% block title %}{{ 'email'|trans|capitalize }}{% endblock %}

{% block content %}

{{ breadcrumbs.render([
    {'text': 'account'|trans|capitalize},
    {'url': url('account_settings'), 'text': 'settings'|trans|capitalize},
    {'text': 'email'|trans|capitalize},
]) }}

<h1>{{ 'email'|trans|capitalize }}</h1>

{% if app.user.isVerified %}

<p>
    {% trans %}
        Beware ! as your actual Email is verified, you will loose your status by changing it. Be sure to verify the new one as soon as possible.
    {% endtrans %}
</p>

{% endif %}

{{ form(form) }}

{% endblock %}
