{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}




{% block title %}{{ 'Email'|trans }}{% endblock %}

{% block content %}

{{ breadcrumbs.render([
    {'text': 'Account'|trans},
    {'url': url('account_settings'), 'text': 'Settings'|trans},
    {'text': 'Email'|trans},
]) }}

<h1>{{ 'Email'|trans }}</h1>

{% if app.user.isVerified %}

<p>
    {% trans %}
        Beware ! as your actual Email is verified, you will loose your status by changing it. Be sure to verify the new one as soon as possible.
    {% endtrans %}
</p>

{% endif %}

{{ form(form) }}

{% endblock %}
