{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block content %}

account

<hr>

<h1>Account</h1>

<a href="{{ path('account_invitation') }}">[invitations]</a>
<a href="">[settings]</a>
<a href="">[contacts]</a>

{% endblock %}
