{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{% block title %}New Invitation{% endblock %}

{% block content %}

{{ breadcrumbs.render([
    {'text': 'Account'},
    {'url': url('account_invitation'), 'text': 'Invitations'},
    {'text': 'New'},
]) }}


<h1>New invitation</h1>


{% if userLimitReached %}
<div class="alert alert-warning">User limit reached, impossible to invite new users.</div>
{% endif %}


{% if needToWait %}
<div class="alert alert-warning">Last invitation send too recently, impossible to invite new users.</div>
{% endif %}



<p>Invitations are valid for a {{ invitationDuration|date("%h") }} hours period.</p>

{% if app.user.userClass.inviteFrequency %}
<p>You can send an invitation every {{ app.user.userClass.inviteFrequency }} days</p>
{% endif %}

{{ form(form) }}


{% endblock %}
