{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}




{% block title %}Settings{% endblock %}

{% block content %}

{{ breadcrumbs.render([
    {'text': 'Account'},
    {'text': 'Setings'},
]) }}

<h1>Settings</h1>

<p>Verified account: {{ app.user.isVerified ? 'yes' : 'no' }}</p>

{% if not app.user.isVerified %}

<a class="btn btn-primary" href="{{ path('app_email_send') }}">Send email verification</a>

{% endif %}

{% endblock %}
