{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Home</h1>

<p>Home sweet home</p>


<h3>Stats</h3>

<ul>
<li>
Sharables : {{ sharableCount }}
</li>
<li>
Validations : {{ validationCount }}
</li>
</li>
<li>
Users : {{ userCount }}
</li>
<li>
Users limit : {{ userLimit }}
</ul>

{% endblock %}
