parameters:
    app.openRegistration: true
    app.userLimit: 1000
    app.invitationDuration: 24
    app.siteName: 'Antilope'
    app.sharableNames:
        en:
            name: shareable
            gender: neuter
    app.emailAddress: 'noreply@antilope.net'
    app.siteDescription: 'A sharable Network'
    app.siteAlert: 'beware of not sharing too much COVID-19, share carefully !'
    app.showHomeStats: false
    app.lastActivityDelay: 1
    app.contactForgetDelay: 7
    app.contactEditDelay: 15
    app.minTag: 0
    app.maxTag: 0
