parameters:
    app.openRegistration: true
    app.userLimit: 1000
    app.invitationDuration: 24
    app.siteName: 'Antilope'
    app.siteDescription: 'A sharable Network'
    app.siteAlert: 'beware of not sharing too much COVID-19, share carefully !'
    app.showHomeStats: false