<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
    
    <description>The coding standard for Antilope.</description>

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php,css"/>
    <arg name="parallel" value="75" />
    <arg value="p" />

    <file>bin/</file>
    <file>config/</file>
    <file>public/</file>
    <file>src/</file>
    <file>tests/</file>
    <file>standards/</file>
    <file>translations</file>

    <!-- Include the whole PSR12 standard -->
    <rule ref="PSR12"></rule>

    <!-- Include Antilope custom ruleset -->
    <rule ref="./standards/Antilope">
        <exclude-pattern>*/config/*</exclude-pattern>
        <exclude-pattern>*/public/*</exclude-pattern>
        <exclude-pattern>*/tests/*</exclude-pattern>
        <exclude-pattern>*/translations/*</exclude-pattern>
    </rule>

    <!-- Add some rules -->
    <rule ref="Generic.Metrics.NestingLevel"></rule>
    <rule ref="Generic.Files.LineLength">
        <exclude-pattern>*/translations/*</exclude-pattern>
    </rule>

    <!-- CSS rules -->
    <rule ref="Squiz.CSS.Indentation"></rule>
    <rule ref="Squiz.CSS.MissingColon"></rule>
    <rule ref="Squiz.CSS.ColonSpacing"></rule>
    <rule ref="Squiz.CSS.SemicolonSpacing"></rule>
    <rule ref="Squiz.CSS.LowercaseStyleDefinition"></rule>
    <rule ref="Squiz.CSS.DisallowMultipleStyleDefinitions"></rule>

</ruleset>
