{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% import "macros/user.html.twig" as userMacro %}

{% block title %}Answer a question{% endblock %}

{% block content %}


{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'Sharables'},
    {'url': url('sharable_show', {id: question.sharable.id}), 'text': question.sharable.name},
    {'text': 'answer'},
]) }}

    <h1>Answer</h1>

    <p>{{ question.text }}</p>

    {{ form(form) }}


{% endblock %}
