{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% import "macros/user.html.twig" as userMacro %}

{% block title %}Edit a question{% endblock %}

{% block content %}


{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'Sharables'},
    {'url': url('sharable_show', {id: question.sharable.id}), 'text': question.sharable.name},
    {'text': 'question'},
]) }}

    <h1>Question</h1>


    <h3>Answer</h3>

    {{ form(form) }}


{% endblock %}
