{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% import "macros/user.html.twig" as userMacro %}
{% import "macros/sharable.html.twig" as sharableMacro %}

{% block title %}Edit a question{% endblock %}

{% block content %}


{{ breadcrumbs.render([
    {'url': url('question'), 'text': 'Questions'},
    {'url': url('question_show', {id: question.id}), 'text': question.text|u.truncate(40, '...', false)},
    {'text': 'edit'},
]) }}

    <h1>Edit question</h1>

    <h5>on {{ sharableMacro.render(question.sharable) }}</h5>

    {{ form(form) }}


{% endblock %}
