{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{% block title %}{{ 'edit rule'|trans|capitalize }}{% endblock %}

{% block content %}


{{ breadcrumbs.render([
    {'url': url('rule_index'), 'text': 'rules'|trans|capitalize },
    {'url': url('rule_show', {id: rule.id}), 'text': rule.name},
    {'text': 'edit'|trans|capitalize },
]) }}

    <h1>{{ 'edit rule'|trans|capitalize }}</h1>

    {{ form(form) }}

{% endblock %}
