{% extends 'base.html.twig' %}

{% block title %}{{ userClass.name }}{% endblock %}

{% block content %}


{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{{ breadcrumbs.render([
    {'url': url('userclass'), 'text': 'user classes'|trans|capitalize },
    {'url': url('userclass_show', {id: userClass.id}), 'text': userClass.name},
    {'text': 'edit'|trans|capitalize },
]) }}


<h1>{{ 'edit'|trans|capitalize }}</h1>


{{ form(form) }}



{% endblock %}