{% extends 'base.html.twig' %}

{% block title %}{{ 'new user class'|trans|capitalize}}{% endblock %}

{% block content %}


{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{{ breadcrumbs.render([
    {'url': url('userclass'), 'text': 'user classes'|trans|capitalize },
    {'text': 'new'|trans|capitalize },
]) }}


<h1>{{ 'new'|trans|capitalize }}</h1>


{{ form(form) }}



{% endblock %}