{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{% block title %}Admin{% endblock %}

{% block content %}

<h1>Admin</h1>

<p>
    Those are the parameters that rule this instance of <i>Antilope</i>. This can be changed by administration. You can check an <a href="https://github.com/vincent-peugnet/antilope#global-parameters" target="_blank">axplanation of each ot those parameters on github</a>.
</p>

<table class="table">
    <thead>
        <tr>
            <th>parameter</th>
            <th>value</th>
        </tr>
    </thead>
    <tbody>

        {% for key, parameter in appParameters %}
            {% if not parameter is iterable %}
                <tr>
                    <td>
                        {{ key|slice(4)|humanize }}
                    </td>
                    <td>
                        {{ parameter }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
