{% macro render(name, filled) %}


<li class="list-group-item{{ filled ? ' list-group-item-success' : ' text-danger' }}">
    {{ filled ? '<i class="far fa-check-square"></i>' : '<i class="far fa-square"></i>' }}
    {{ 'share score'|trans|capitalize }} : <span class="badge badge-light">{{ userClass.shareScoreReq }}</span>
</li>

{% endmacro %}