{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{% block title %}New announcement{% endblock %}

{% block content %}

{{ breadcrumbs.render([
    {'url': url('admin'), 'text': 'Admin'},
    {'url': url('announcement'), 'text': 'Announcements'},
    {'text': 'New'},
]) }}

<h1>New announcement</h1>

{{ form( form ) }}

{% endblock %}
