{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{% block title %}{{ 'new announcement'|trans|capitalize }}{% endblock %}

{% block content %}

{{ breadcrumbs.render([
    {'url': url('admin'), 'text': 'admin'|trans|capitalize},
    {'url': url('announcement'), 'text': 'announcements'|trans|capitalize},
    {'text': 'new'|trans|capitalize},
]) }}

<h1>{{ 'new announcement'|trans|capitalize }}</h1>

{{ form( form ) }}

{% endblock %}
