{% extends 'sharable/layout.html.twig' %}


{% block title %}{{ sharable.name }}{% endblock %}

{% block section %}

<a href="{{ path('sharable_show', {id: sharable.id}) }}">[back]</a>


{{ form(form) }}


{% endblock %}