{% extends 'base.html.twig' %}


{% block content %}

<aside>

    <a href="{{ path('sharable_new') }}">[new]</a>

</aside>

<hr>

<section>

    {% block section %}{% endblock %}


</section>

{% endblock %}