{% extends 'base.html.twig' %}


{% block title %}{{ sharable.name }}{% endblock %}

{% block content %}


{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'Sharables'},
    {'url': url('sharable_show', {id: sharable.id}), 'text': sharable.name},
    {'text': 'set Managers'},
]) }}

<ul>
{% for manage in sharable.managedBy %}
<li>
{{ manage.user.username }}
</li>
{% endfor %}
</ul>

{{ form(form) }}


{% endblock %}