{% extends 'base.html.twig' %}


{% block title %}new sharable{% endblock %}

{% block content %}

{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'Sharables'},
    {'text': 'Create new'},
]) }}

<h1>Create new sharable</h1>

{{ form(form) }}


{% endblock %}