{% extends 'base.html.twig' %}


{% block title %}new sharable{% endblock %}

{% block content %}


<a href="{{ path('sharable') }}">sharables</a> > new

<hr>

<h1>Create new sharable</h1>

{{ form(form) }}


{% endblock %}