{% extends 'sharable/layout.html.twig' %}


{% block title %}{{ sharable.name }}{% endblock %}



{% block section %}

<h1>{{ sharable.name }}</h1>

<p>
{{ sharable.description }}
</p>


{% endblock %}