{% extends 'base.html.twig' %}


{% block title %}{{ sharable.name }}{% endblock %}



{% block content %}

{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'Sharables'},
    {'url': url('sharable_show', {id: sharable.id}), 'text': sharable.name},
    {'text': 'Validate'},
]) }}
<h1>Validation</h1>

    <div class="card mb-3">

        <div class="card-header">

            <div class="card-title">
                <h4>
                You can add a little message with your validation
                </h4>

            </div>
        </div>

        <div class="card-body">
        
            {{ form(form) }}

        </div>
    </div>



</div>

{% endblock %}