{% extends 'base.html.twig' %}


{% block title %}{{ sharable.name }}{% endblock %}



{% block content %}

{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'sharables'|trans|capitalize },
    {'url': url('sharable_show', {id: sharable.id}), 'text': sharable.name},
    {'text': 'Validate'},
]) }}
<h1>Validation</h1>

<div class="alert alert-success">
    <i class="fas fa-exclamation-triangle"></i>
    By validating, you ensure that you have really enjoyed the sharable. Don't do it if it is not true.
</div>

    <div class="card mb-3">
        <div class="card-header">
            <h4 class="card-title">
                This space is dedicated to sharing what you felt with the sharable
            </h4>
        </div>

        <div class="card-body">

        <p>
            You can add a message, a picture, or both. Explain wath happened or just thanks someone...
        </p>
        
            {{ form(form) }}

        </div>
    </div>



</div>

{% endblock %}