<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
        <a href="{{ path('home') }}">[home]</a>
        <a href="">[sharables]</a>
        <a href="">[users]</a>
        <a href="">[user classes]</a>
        <a href="">[account]</a>

        </nav>
        <main>
        {% block main %}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
