{% extends "email/base.html.twig" %}

{% block header %}
<header>
    <h1>Hello {{ user.username }}</h1>

    <h2>You have a notification !</h2>
</header>
{% endblock %}

{% block content %}{% endblock %}