{% extends "email/base.html.twig" %}

{% block header %}
<header>
    <h1>{{ 'hello'|trans|capitalize }} {{ user.username }}</h1>

    <h2>{{ 'you have a notification!'|trans|capitalize }}</h2>
</header>
{% endblock %}

{% block content %}{% endblock %}