{% extends "email/notification/base.html.twig" %}

{% block content %}

<p>
    {{ 'Your user class have changed, you are now part of'|trans }} <a href="{{ url('userclass_show', {id: user.userClass.id}) }}">{{ user.userClass.name }}</a>.
</p>



{% endblock %}