{% extends "email/notification/base.html.twig" %}

{% block content %}

{% if user.disabled %}
    <p>
        {{ 'Your account is now disabled. It could be because of inactivity or because you did\'nt respected the'|trans }} <a href="{{ url('rule_index') }}">{{ 'rules'|trans }}</a>.
    </p>
{% else %}
    <p>
        {{ 'Your account is now enabled'|trans }}.
    </p>
        
{% endif %}


{% endblock %}