{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{% block title %}{{ 'edit tag'|trans|capitalize }}{% endblock %}

{% block content %}

{{ breadcrumbs.render([
    {'url': url('tag_index'), 'text': 'tags'|trans|capitalize },
    {'text': tag.name},
    {'text': 'edit'|trans|capitalize },
]) }}

<h1>{{ 'edit tag'|trans|capitalize }}</h1>

{{ form(form) }}

{% endblock %}
