{% extends 'base.html.twig' %}

{% block title %}{{ 'sign up'|trans|capitalize }}{% endblock %}


{% block content %}

<h1>{{ 'sign up'|trans|capitalize }}</h1>

    {% if userLimitReached %}
        <div class="alert alert-warning">{{ 'user limit reached, impossible to sign up'|trans|capitalize }}</div>
    {% endif %}

    {{ form(form) }}

{% endblock %}
