{% extends 'base.html.twig' %}

{% block title %}{{ 'error'|trans|capitalize }}{% endblock %}

{% block content %}

<div class="jumbotron">

    <h1 class="display-4">{{ status_code }}</h1>

    <p class="lead">{{ status_text }}</p>



</div>


{% endblock %}
