{% extends 'base.html.twig' %}


{% block content %}


{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{{ breadcrumbs.render([
    {'url': url('user'), 'text': 'Users'},
    {'url': url('user_show', {id: user.id}), 'text': user.username},
    {'text': 'contacts'},
]) }}


<h1>New contact</h1>



{{ form(form) }}



{% endblock %}