{% extends 'base.html.twig' %}


{% block content %}



{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{{ breadcrumbs.render([
    {'url': url('user'), 'text': 'Users'},
    {'url': url('user_show', {id: user.id}), 'text': user.username},
    {'text': 'Edit'},
]) }}


<h1>Profile edit</h1>

{{ form(form) }}

{% endblock %}