{% extends 'base.html.twig' %}
{% import "macros/user.html.twig" as userMacro %}


{% block content %}

<h1>Users</h1>

{% for user in users %}

<div class="card mb-3">

    <div class="card-header">

        <div class="card-title">
            <h5>
                {{ userMacro.render(user) }}
            </h5>
        </div>
    </div>

    <div class="card-body">
    
        <a class="btn btn-light" href="{{ path('user_show', {id: user.id}) }}">discover</a>


    </div>

</div>


{% endfor %}


{% endblock %}