{% block header %}{% endblock %}

{% block content %}{% endblock %}

{% block footer %}

<p>
    {{ 'See you soon on'|trans }} <a href="{{ url('app_homepage') }}">{{ siteName }}</a>
</p>

{% endblock %}